<div class="container">
    <header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> <a class="blog-header-logo text-body-emphasis text-decoration-none me-4" href="{% url 'home' %}">STEMLink</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 ">Trợ lý AI</a></li>
                <li><a href="#" class="nav-link px-2 ">Tài liệu</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Bài viết</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> <input type="search"
                    class="form-control form-control-dark" placeholder="Search..."
                    aria-label="Search"> </form>
            {% if user.is_authenticated %}
            <div class="dropdown text-end"> <a href="#"
                class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false"> <img src="https://github.com/mdo.png"
                    alt="mdo" width="32" height="32" class="rounded-circle"> </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">Tạo bài viết mới</a></li>
                    <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a></li>
                </ul>
            </div>            
            {% else %}
            <div class="text-end"> <a class="btn btn-outline me-2 border border-dark-subtle border-light-subtle-darkmode" href="{% url 'enter' %}">Đăng nhập</a>
                <a class="btn btn-warning" href="{% url 'register' %}">Đăng ký</a> </div>
            
            {% endif %}
        </div>
    </div>
</header>
    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between"> 
            {% for category in categories %}
            <a class="nav-item nav-link link-body-emphasis {% if category.id == active_category_id %}active{% endif %}" href="{% url 'posts_by_category' category.category_name %}">{{category.category_name}}</a>
            {% endfor %}
        </nav>
    </div>
</div>
